---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #FFD200;
$header-bg-color-secondary: #F7971E;

// Text
$section-headings-color: #F7971E;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

@import "{{ site.theme }}";
