---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #FFB75E;
$header-bg-color-secondary: #ED8F03;

// Text
$section-headings-color: #ED8F03;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

header.page-header {
  display: none;
}

@import "{{ site.theme }}";
